## Importing the required libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## Accessing the dataset

In [3]:
data = pd.read_csv('uncleaned_crop_yield.csv')
df = pd.DataFrame(data)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Region                  1000000 non-null  object
 1   Soil_Type               1000000 non-null  object
 2   Crop                    1000000 non-null  object
 3   Rainfall_mm             950000 non-null   float64
 4   Temperature_Celsius     950001 non-null   float64
 5   Fertilizer_Used         1000000 non-null  bool
 6   Irrigation_Used         1000000 non-null  bool
 7   Weather_Condition       1000000 non-null  object
 8   Days_to_Harvest         950000 non-null   float64
 9   Yield_tons_per_hectare  950000 non-null   float64
dtypes: bool(2), float64(4), object(4)
memory usage: 62.9+ MB
None

# Data Cleaning Steps

## 1. Removing Duplicates

In [4]:
df.drop_duplicates(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 999999 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Region                  999999 non-null  object
 1   Soil_Type               999999 non-null  object
 2   Crop                    999999 non-null  object
 3   Rainfall_mm             950000 non-null  float64
 4   Temperature_Celsius     950001 non-null  float64
 5   Fertilizer_Used         999999 non-null  bool
 6   Irrigation_Used         999999 non-null  bool
 7   Weather_Condition       999999 non-null  object
 8   Days_to_Harvest         949999 non-null  float64
 9   Yield_tons_per_hectare  950000 non-null  float64
dtypes: bool(2), float64(4), object(4)
memory usage: 70.6+ MB
None

## 2. Replace data inplace

In [7]:
df['Rainfall_mm'] = df['Rainfall_mm'].fillna(value=df['Rainfall_mm'].mean())
df['Temperature_Celsius'] = df['Temperature_Celsius'].fillna(value=df['Temperature_Celsius'].mean())
df['Days_to_Harvest'] = df['Days_to_Harvest'].fillna(value=df['Days_to_Harvest'].mean())

df.dropna(subset='Yield_tons_per_hectare', inplace=True)
print(df.isnull().sum())

Region                    0
Soil_Type                 0
Crop                      0
Rainfall_mm               0
Temperature_Celsius       0
Fertilizer_Used           0
Irrigation_Used           0
Weather_Condition         0
Days_to_Harvest           0
Yield_tons_per_hectare    0
Days_to_Harvest           0
dtype: int64

## 3. Remove leading and trailing white spaces

In [8]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

## 4. Consistency in Blood Type column

In [9]:
print(df['Fertilizer_Used'].unique())
print(df['Irrigation_Used'].unique())

[False  True]
[ True False]

In [224]:
inconsistent_blood_type = {
    'A positive': 'A+',
    'b negative': 'B-',
    'O positive': 'O+'
}
df['Blood Type'] = df['Blood Type'].replace(inconsistent_blood_type)

df['Gender'] = df['Gender'].replace({'male': 'M', 'Male': 'M', 'Female': 'F'})

In [225]:
print(df['Blood Type'].unique())
print(df['Gender'].unique())

['B-' 'A+' 'A-' 'O+' 'AB+' 'AB-' 'B+' 'O-']
['M' 'F']

## 5. Capitalize all string type data column

In [226]:
df = df.apply(lambda x: x.str.upper() if x.dtype == "object" else x)
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,BOBBY JACKSON,30.000000,M,B-,CANCER,2024/01/31,MATTHEW SMITH,SONS AND MILLER,BLUE CROSS,18856.281306,328,URGENT,2024/02/02,PARACETAMOL,NORMAL
1,LESLIE TERRY,53.819887,M,A+,OBESITY,2019/08/20,SAMANTHA DAVIES,KIM INC,MEDICARE,33643.327287,265,EMERGENCY,2019/08/26,IBUPROFEN,INCONCLUSIVE
2,DANNY SMITH,76.000000,F,A-,OBESITY,2022/09/22,TIFFANY MITCHELL,COOK PLC,AETNA,27955.096079,205,EMERGENCY,2022/10/07,ASPIRIN,NORMAL
3,ANDREW WATTS,53.819887,F,O+,DIABETES,2020/11/18,KEVIN WELLS,"HERNANDEZ ROGERS AND VANG,",MEDICARE,37909.782410,450,ELECTIVE,2020/12/18,IBUPROFEN,ABNORMAL
5,EMILY JOHNSON,36.000000,M,A+,ASTHMA,2023/12/20,TAYLOR NEWTON,NUNEZ-HUMPHREY,UNITEDHEALTHCARE,48145.110951,389,URGENT,2023/12/24,IBUPROFEN,NORMAL

## 6. Filtered Data above the mean value of Age

In [227]:
df = df[df['Age'] <= df['Age'].mean() * 2]

## 7. Datatype Conversion

In [228]:
print(df['Date of Admission'])

0        2024/01/31
1        2019/08/20
2        2022/09/22
3        2020/11/18
5        2023/12/20
            ...
58260    2021/05/02
58261    2022/04/23
58265    2021/03/09
58269    2022/09/18
58271    2023/02/02
Name: Date of Admission, Length: 49316, dtype: object

In [229]:
df['Date of Admission'] = pd.to_datetime(df['Date of Admission'], format='%Y/%m/%d')
df['Discharge Date'] = pd.to_datetime(df['Discharge Date'], format='%Y/%m/%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49316 entries, 0 to 58271
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                49316 non-null  object
 1   Age                 49316 non-null  float64
 2   Gender              49316 non-null  object
 3   Blood Type          49316 non-null  object
 4   Medical Condition   49316 non-null  object
 5   Date of Admission   49316 non-null  datetime64[ns]
 6   Doctor              49316 non-null  object
 7   Hospital            49316 non-null  object
 8   Insurance Provider  49316 non-null  object
 9   Billing Amount      49316 non-null  float64
 10  Room Number         49316 non-null  int64
 11  Admission Type      49316 non-null  object
 12  Discharge Date      49316 non-null  datetime64[ns]
 13  Medication          49316 non-null  object
 14  Test Results        49316 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(10)
memory usage: 6.0+ MB

## 8. New column named number of days admitted based on Date of Admission and Discharge Date

In [230]:
df['Length of Stay'] = (df['Discharge Date'] - df['Date of Admission']).dt.days
print(df['Length of Stay'])

0         2
1         6
2        15
3        30
5         4
         ..
58260    13
58261    22
58265     8
58269    18
58271     5
Name: Length of Stay, Length: 49316, dtype: int64

## 9. Delete un-important columns

In [231]:
df = df.drop(['Name', 'Doctor', 'Room Number'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49316 entries, 0 to 58271
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 49316 non-null  float64
 1   Gender              49316 non-null  object
 2   Blood Type          49316 non-null  object
 3   Medical Condition   49316 non-null  object
 4   Date of Admission   49316 non-null  datetime64[ns]
 5   Hospital            49316 non-null  object
 6   Insurance Provider  49316 non-null  object
 7   Billing Amount      49316 non-null  float64
 8   Admission Type      49316 non-null  object
 9   Discharge Date      49316 non-null  datetime64[ns]
 10  Medication          49316 non-null  object
 11  Test Results        49316 non-null  object
 12  Length of Stay      49316 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(1), object(8)
memory usage: 5.3+ MB

## 10. Inconsistent Data: Rounding Billing Amount upto 2 decimal places

In [232]:
df['Billing Amount'] = df['Billing Amount'].round(2)

## 11. Handling Categorical Data

In [233]:
df_encoded = pd.get_dummies(data=df, columns=['Gender', 'Blood Type', 'Medical Condition', 'Insurance Provider', 'Admission Type'], dtype=float, drop_first=True)
print(df_encoded.info())

<class 'pandas.core.frame.DataFrame'>
Index: 49316 entries, 0 to 58271
Data columns (total 27 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Age                                  49316 non-null  float64
 1   Date of Admission                    49316 non-null  datetime64[ns]
 2   Hospital                             49316 non-null  object
 3   Billing Amount                       49316 non-null  float64
 4   Discharge Date                       49316 non-null  datetime64[ns]
 5   Medication                           49316 non-null  object
 6   Test Results                         49316 non-null  object
 7   Length of Stay                       49316 non-null  int64
 8   Gender_M                             49316 non-null  float64
 9   Blood Type_A-                        49316 non-null  float64
 10  Blood Type_AB+                       49316 non-null  float64
 11  Blood Type_AB-                       49316 non-null  float64
 12  Blood Type_B+                        49316 non-null  float64
 13  Blood Type_B-                        49316 non-null  float64
 14  Blood Type_O+                        49316 non-null  float64
 15  Blood Type_O-                        49316 non-null  float64
 16  Medical Condition_ASTHMA             49316 non-null  float64
 17  Medical Condition_CANCER             49316 non-null  float64
 18  Medical Condition_DIABETES           49316 non-null  float64
 19  Medical Condition_HYPERTENSION       49316 non-null  float64
 20  Medical Condition_OBESITY            49316 non-null  float64
 21  Insurance Provider_BLUE CROSS        49316 non-null  float64
 22  Insurance Provider_CIGNA             49316 non-null  float64
 23  Insurance Provider_MEDICARE          49316 non-null  float64
 24  Insurance Provider_UNITEDHEALTHCARE  49316 non-null  float64
 25  Admission Type_EMERGENCY             49316 non-null  float64
 26  Admission Type_URGENT                49316 non-null  float64
dtypes: datetime64[ns](2), float64(21), int64(1), object(3)
memory usage: 10.5+ MB
None

# Exploratory Data Analysis